<?xml version="1.0"?>
<launch>
    <master auto="start"/>

    <!--===============================================================================-->
    <!-- Arguments -->
    <!--===============================================================================-->
    <arg name="model" default="$(find pioneer_description)/urdf/pioneer3dx_fixed_joints.xml"/>
    <arg name="rviz" default="true"/>
    <arg name="rviz_config" default="stage_3robot_sim"/>

    <!--===============================================================================-->
    <!-- Parameters -->
    <!--===============================================================================-->
    <param name="/use_sim_time" value="true"/>
    <param name="robot_description" textfile="$(arg model)" />

    <!--===============================================================================-->
    <!-- Nodes -->
    <!--===============================================================================-->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find rc_explorer)/maps/3pioneer_building.world" respawn="false">
        <param name="base_watchdog_timeout" value="0.2"/>
        <remap from="robot_0/base_scan" to="robot_0/scan"/>
        <remap from="robot_1/base_scan" to="robot_1/scan"/>
        <remap from="robot_2/base_scan" to="robot_2/scan"/>
    </node>

    <group ns="map_merge">
        <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="map_merge" output="screen">
            <param name="robot_map_topic" value="map"/>
            <param name="robot_map_updates_topic" value="map_updates"/>
            <param name="known_init_poses" value="false"/>
            <param name="robot_namespace" value=""/>
            <param name="merged_map_topic" value="/map"/>
            <param name="world_frame" value="map_merged"/>
            <param name="merging_rate" value="1.0"/>
            <param name="discovery_rate" value="0.05"/>
            <param name="estimation_rate" value="0.5"/>
            <param name="estimation_confidence" value="1.0"/>
        </node>
    </group>

    <node pkg="tf" type="static_transform_publisher" name="static_tf_map_to_map_merged" args="0.0 0.0 0.0 0.0 0.0 0.0 map_merged map 10"  />
    <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find rc_explorer)/rviz_configs/$(arg rviz_config).rviz" />

    <!--===============================================================================-->
    <!-- Robot 0 -->
    <!--===============================================================================-->
    <group ns="robot_0">
        <arg name="prefix" value="robot_0"/>

        <include file="$(find pioneer_description)/launch/pioneer_description.launch">
            <arg name="tf_prefix" value="$(arg prefix)" />
        </include>
        <include file="$(find rc_explorer)/launch/move_base_3robots.launch">
            <arg name="sim" value="stage"/>
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <include file="$(find rc_explorer)/launch/gmapping_3robots.launch">
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <include file="$(find explore_lite)/launch/explore_lite.launch">
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <node pkg="tf" type="static_transform_publisher" name="static_tf_$(arg prefix)_to_map" args="0.0 0.0 0.0 0.0 0.0 0.0 map $(arg prefix)/map 10"  />
    </group>

    <!--===============================================================================-->
    <!-- Robot 1 -->
    <!--===============================================================================-->
    <group ns="robot_1">
        <arg name="prefix" value="robot_1"/>

        <include file="$(find pioneer_description)/launch/pioneer_description.launch">
            <arg name="tf_prefix" value="$(arg prefix)" />
        </include>
        <include file="$(find rc_explorer)/launch/move_base_3robots.launch">
            <arg name="sim" value="stage"/>
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <include file="$(find rc_explorer)/launch/gmapping_3robots.launch">
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <include file="$(find explore_lite)/launch/explore_lite.launch">
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <node pkg="tf" type="static_transform_publisher" name="static_tf_$(arg prefix)_to_map" args="0.0 0.0 0.0 0.0 0.0 0.0 map $(arg prefix)/map 10"  />
    </group>

    <!--===============================================================================-->
    <!-- Robot 2 -->
    <!--===============================================================================-->
    <group ns="robot_2">
        <arg name="prefix" value="robot_2"/>

        <include file="$(find pioneer_description)/launch/pioneer_description.launch">
            <arg name="tf_prefix" value="$(arg prefix)" />
        </include>
        <include file="$(find rc_explorer)/launch/move_base_3robots.launch">
            <arg name="sim" value="stage"/>
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <include file="$(find rc_explorer)/launch/gmapping_3robots.launch">
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <include file="$(find explore_lite)/launch/explore_lite.launch">
            <arg name="namespace" value="$(arg prefix)"/>
        </include>
        <node pkg="tf" type="static_transform_publisher" name="static_tf_$(arg prefix)_to_map" args="0.0 0.0 0.0 0.0 0.0 0.0 map $(arg prefix)/map 10"  />
    </group>

</launch>