<?xml version="1.0"?>
<launch>
    <master auto="start"/>

    <!--===============================================================================-->
    <!-- Arguments -->
    <!--===============================================================================-->
    <arg name="model" default="$(find p3dx_description)/urdf/pioneer3dx.xml"/>
    <arg name="teleop" default="false"/>
    <arg name="rviz" default="true"/>
    <arg name="stage" default="true"/>

    <!--===============================================================================-->
    <!-- Parameters -->
    <!--===============================================================================-->
    <param name="robot_description" textfile="$(arg model)" />
    <param name="use_sim_time" value="true"/>

    <!--===============================================================================-->
    <!-- Include launch files -->
    <!--===============================================================================-->
    <group unless="$(arg stage)">
        <include file="$(find rc_explorer)/launch/gazebo_sim.launch"/>
    </group>

    <group if="$(arg stage)">
        <include file="$(find rc_explorer)/launch/stage_sim.launch"/>
    </group>

    <include file="$(find rc_explorer)/launch/gmapping.launch"/>

    <include file="$(find rc_explorer)/launch/move_base.launch">
        <arg name="sim" value="true"/>
    </include>

    <include file="$(find p3dx_description)/launch/p3dx_description.launch">
        <arg name="tf_prefix" value="" />
    </include>

    <!--===============================================================================-->
    <!-- Nodes -->
    <!--===============================================================================-->
    <group if="$(arg teleop)">
        <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>    
    </group>

    <group if="$(arg rviz)">
        <include file="$(find rc_explorer)/launch/rviz.launch">
            <arg name="config" value="stage_1robot_sim"/>
        </include>
    </group>

    <include file="$(find explore_lite)/launch/explore_lite.launch"/>

</launch>