<?xml version="1.0"?>
<launch>
    <arg name="map" default="1pioneer_building" />

    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find rc_explorer)/maps/$(arg map).world" respawn="false">
        <param name="/use_sim_time" value="true"/>
        <param name="base_watchdog_timeout" value="0.2"/>
        <remap from="base_scan" to="scan"/>
    </node>

</launch>